<br><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="position: fixed;">
          <a class="nav-link active" aria-current="page" routerLink="/home" style="font-size: 24px;">Home</a>
          <a class="nav-link" routerLink="/mobiles/iphone" style="font-size: 24px;">iPhone</a>
          <a class="nav-link" routerLink="/mobiles/iqoo" style="font-size: 24px;">iqoo</a>
          <a class="nav-link" routerLink="/mobiles/oneplus" style="font-size: 24px;">OnePlus</a>
          <a class="nav-link" routerLink="/mobiles/vivo" style="font-size: 24px;">Pixel</a>
        </div>
      </div>
    </div>
  </nav>
  <br><br>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/mobiles/amir-hanna-sweUF7FcyP4-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">iPhone X</h5>
                    <p class="card-text">Super Retina XDR display; 15.4 cm / 6.1″ (diagonal) all‑screen OLED display;HDR display;</p>
                    <p class="card-text">Price: $1995</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal1">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/mobiles/dugba-cauley-hushie-6MNmDi1hc_Y-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Micromax IN 2C</h5>
                    <p class="card-text">Micromax is an Indian smartphone brand,one of the leading mobile phones. </p>
                    <p class="card-text">Price: $1478</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal2">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/mobiles/neil-soni-6wdRuK7bVTE-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Vivo Y35</h5>
                    <p class="card-text">Vivo releases new models, offering a wide range of choices to The mobile phone price varies</p>
                    <p class="card-text">Price: $1010</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal3">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/mobiles/rahul-chakraborty-xsGxhtAsfSA-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">POCO C65</h5>
                    <p class="card-text">Day-Date,GMT,Leap Year Indicator,Power Reserve Indicator </p>
                    <p class="card-text">Price: $1999</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal4">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/mobiles/rishabh-malhotra-83ypHTv6J2M-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy Pro LIE</h5>
                    <p class="card-text">45mm,Gray Titaninum,Compatible with Android </p>
                    <p class="card-text">Price: $1599</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal6">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/mobiles/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Galaxy A25</h5>
                    <p class="card-text">Samsung S Series compare their prices at Samsung India </p>
                    <p class="card-text">Price: $1699</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal5">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add similar card structures for other watches -->
    </div>
</div>


<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/mobiles/shiwa-id-Uae7ouMw91A-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Xiaomi Mi 10i</h5>
                    <p class="card-text">Discover the latest Xiaomi smartphones. Find the best smartphone from the Xiaomi, </p>
                    <p class="card-text">Price: $2777</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal7">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/mobiles/c-d-x-hKTN9zl30eE-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">HTC Wildfire X</h5>
                    <p class="card-text">Htc mobile phones at best prices: All new latest 4G Htc mobile phones features.</p>
                    <p class="card-text">Price: $1925</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal8">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/mobiles/daniel-romero-aiUAxBNe3Xk-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Nokia XR20</h5>
                    <p class="card-text">7.6. Score. Nokia XR20.Compare. Processor. 7.4. Good Processor.Good Budget Phones </p>
                    <p class="card-text">Price: $3898</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal9">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ms-5">
          <div class="card mb-4 shadow-sm">
              <img src="/assets/mobiles/jamie-street-Y602iPcTq28-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
              <div class="card-body">
                  <h5 class="card-title">iPhone X</h5>
                  <p class="card-text">Buy Apple iPhone online at lowest prices</p>
                  <p class="card-text">Price: $1478</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal10">View</button>
                          <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 ms-5">
        <div class="card mb-4 shadow-sm">
            <img src="/assets/mobiles/eaters-collective-i_xVfNtQjwI-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
            <div class="card-body">
                <h5 class="card-title">One Plus Nord CE3</h5>
                <p class="card-text">consumer electronics manufacturer OnePlus launched.</p>
                <p class="card-text">Price: $1178</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal11">View</button>
                        <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 ms-5">
      <div class="card mb-4 shadow-sm">
          <img src="/assets/mobiles/omid-armin-AGRtDoZlpYw-unsplash.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
          <div class="card-body">
              <h5 class="card-title">iphone v</h5>
              <p class="card-text">consumer electronics manufacturer iphone launched. </p>
              <p class="card-text">Price: $1778</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal12">View</button>
                      <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
        <!-- Add similar card structures for other watches -->
    </div>
</div>



<!-- Modals for View button -->
<div class="modal fade" id="modal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">iphone X</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/mobiles/amir-hanna-sweUF7FcyP4-unsplash.jpg" class="img-fluid" alt="Image 1">
                <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>4 GB RAM | 64 GB ROM</p>
                <h5>Processor</h5>
                <p>Mediatek Helio G85 | Octa Core</p>
                <h5>Display</h5>
                <p>6.71 inch</p>
                <h5>Battery</h5>
                <p>5000 mAh</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal2Label">Micromax IN 2C</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/mobiles/dugba-cauley-hushie-6MNmDi1hc_Y-unsplash.jpg" class="img-fluid" alt="Image 2">
                <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>2 GB RAM | 16 GB ROM</p>
                <h5>Processor</h5>
                <p>SnapDragon</p>
                <h5>Display</h5>
                <p>4.1 inch</p>
                <h5>Battery</h5>
                <p>3000 mAh</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add similar modals for other watches in the second set (modal3, modal4, etc.) -->

<!-- Your existing HTML structure for the third set of watches -->

<!-- Modals for View button for the third set of watches -->


<div class="modal fade" id="modal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal3Label">Vivo Y35</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/mobiles/neil-soni-6wdRuK7bVTE-unsplash.jpg" class="img-fluid" alt="Image 3">
                <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>4 GB RAM | 128 GB ROM</p>
                <h5>Processor</h5>
                <p>SnapDragon782G</p>
                <h5>Display</h5>
                <p>5 inch</p>
                <h5>Battery</h5>
                <p>4000 mAh</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add similar modals for other watches in the third set (modal4, modal5, etc.) -->

<!-- Your existing HTML structure for the fourth set of watches -->

<!-- Modals for View button for the fourth set of watches -->


<div class="modal fade" id="modal4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">POCO C65</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/mobiles/rahul-chakraborty-xsGxhtAsfSA-unsplash.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>8 GB RAM | 256 GB ROM</p>
                <h5>Processor</h5>
                <p>Mediatek</p>
                <h5>Display</h5>
                <p>6.51 inch</p>
                <h5>Battery</h5>
                <p>4500 mAh</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Galaxy A25</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/mobiles/rodion-kutsaiev-0VGG7cqTwCo-unsplash.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>4 GB RAM | 128 GB ROM</p>
                <h5>Processor</h5>
                <p>Mediatek Dimensity7200</p>
                <h5>Display</h5>
                <p>4.71 inch</p>
                <h5>Battery</h5>
                <p>3500 mAh</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Samsung Galaxy Pro LIE</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/mobiles/rishabh-malhotra-83ypHTv6J2M-unsplash.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>4 G GB RAM | 64 GB ROM</p>
                <h5>Processor</h5>
                <p>Mediatek Helio G85 | Octa Core</p>
                <h5>Display</h5>
                <p>6.71 inch</p>
                <h5>Battery</h5>
                <p>5000 mAh</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Xiaomi Mi 10i</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/mobiles/shiwa-id-Uae7ouMw91A-unsplash.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>8 GB RAM | 128 GB ROM</p>
                <h5>Processor</h5>
                <p>Mediatek Helio G85 | Octa Core</p>
                <h5>Display</h5>
                <p>6.71 inch</p>
                <h5>Battery</h5>
                <p>6000 mAh</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal8" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">HTC Wildfire X  </h5>
                
            </div>
            <div class="modal-body">
                <img src="/assets/mobiles/c-d-x-hKTN9zl30eE-unsplash.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>4 GB RAM | 64 GB ROM</p>
                <h5>Processor</h5>
                <p>SnapDragon782G</p>
                <h5>Display</h5>
                <p>5.5 inch</p>
                <h5>Battery</h5>
                <p>6000 mAh</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal9" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modal4Label">Nokia XR20</h5>
          </div>
          <div class="modal-body">
              <img src="assets/mobiles/daniel-romero-aiUAxBNe3Xk-unsplash.jpg" class="img-fluid" alt="Image 4">
              <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>4 GB RAM | 64 GB ROM</p>
                <h5>Processor</h5>
                <p>Dimensity7200 Octa Core</p>
                <h5>Display</h5>
                <p>6.2 inch</p>
                <h5>Battery</h5>
                <p>4000 mAh</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>



<div class="modal fade" id="modal10" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modal4Label">iPhone X</h5>
          </div>
          <div class="modal-body">
              <img src="/assets/mobiles/jamie-street-Y602iPcTq28-unsplash.jpg" class="img-fluid" alt="Image 4">
              <h3>Product details</h3>
              <h5>RAM|ROM</h5>
              <p>4 GB RAM | 64 GB ROM</p>
              <h5>Processor</h5>
              <p>Mediatek Helio G85 | Octa Core</p>
              <h5>Display</h5>
              <p>4 inch</p>
              <h5>Battery</h5>
              <p>3000 mAh</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modal11" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modal4Label">One Plus Nord CE3</h5>
          </div>
          <div class="modal-body">
              <img src="/assets/mobiles/eaters-collective-i_xVfNtQjwI-unsplash.jpg" class="img-fluid" alt="Image 4">
              <h3>Product details</h3>
              <h5>RAM|ROM</h5>
              <p>4 GB RAM | 64 GB ROM</p>
              <h5>Processor</h5>
              <p>SnapDragon Gen1</p>
              <h5>Display</h5>
              <p>6.1 inch</p>
              <h5>Battery</h5>
              <p>5000 mAh</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modal12" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modal4Label">iphone v</h5>
          </div>
          <div class="modal-body">
              <img src="/assets/mobiles/omid-armin-AGRtDoZlpYw-unsplash.jpg" class="img-fluid" alt="Image 4">
              <h3>Product details</h3>
              <h5>RAM|ROM</h5>
              <p>8 GB RAM | 128 GB ROM</p>
              <h5>Processor</h5>
              <p>SnapDragon Gen1</p>
              <h5>Display</h5>
              <p>6.1 inch</p>
              <h5>Battery</h5>
              <p>3000 mAh</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>



<footer class="d-flex justify-content-end">

    <div style="position: fixed;top: 48%;">
        <button>
            <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
              <path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path>
            </svg>
            <span routerLink="/home">Back</span>
          </button>
    </div>
    
  </footer>