<br><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="position: fixed;">
          <a class="nav-link active" aria-current="page" routerLink="/electro/" style="font-size: 24px;">Home</a>
          <a class="nav-link" routerLink="/electro" style="font-size: 24px;">Watch</a>
          <a class="nav-link" routerLink="/electro/ear" style="font-size: 24px;">Earphones</a>
        </div>
      </div>
    </div>
  </nav>
  <br><br>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/air1.png" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Apple Airpods 2 Pro </h5>
                    <p class="card-text">Feel the Real Sound Quality and Bass</p>
                    <p class="card-text">Price: $995</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal1">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/boatneck.webp" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Boat Rockers 260 Pro</h5>
                    <p class="card-text">Black and Red Boat Signature Sound</p>
                    <p class="card-text">Price: $478</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal2">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/realmeneck.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Realme Neckband Wireless </h5>
                    <p class="card-text">Double Colour Design 12mm Driver</p>
                    <p class="card-text">Price: $1010</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal3">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add similar card structures for other watches -->
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/realmetws.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Realme T100 TWS </h5>
                    <p class="card-text">Powered by Realme India</p>
                    <p class="card-text">Price: $1999</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal4">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/sony.jpg" class="bd-placeholder-img card-img-top"
                    alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Sony X100 Headphone</h5>
                    <p class="card-text">45mm driver Powered by SONY</p>
                    <p class="card-text">Price: $1599</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal5">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/jbl.jpg" class="bd-placeholder-img card-img-top"
                    alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">JBL J-222 Headphone</h5>
                    <p class="card-text">40 mm Driver Black Color </p>
                    <p class="card-text">Price: $699</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal6">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add similar card structures for other watches -->
    </div>
</div>


<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/zeb.webp" class="bd-placeholder-img card-img-top"
                    alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Zebronics zeb-3</h5>
                    <p class="card-text">Manufactured by Zebronics India</p>
                    <p class="card-text">Price: $777</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal7">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/vivo.webp" class="bd-placeholder-img card-img-top"
                    alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Vivo-1 Wired Headset</h5>
                    <p class="card-text">Powered by Vivo Music Vivo India</p>
                    <p class="card-text">Price: $925</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal8">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/boat220.webp" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Boat Rockers 220 Wired</h5>
                    <p class="card-text">10mm Driver Navy Blue </p>
                    <p class="card-text">Price: $98</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal9">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/samsung.webp" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Samsung Level Wireless</h5>
                    <p class="card-text">10mm Driver Navy Blue </p>
                    <p class="card-text">Price: $198</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal10">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/noise.webp" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Noise TWS</h5>
                    <p class="card-text">10mm Driver Navy Blue </p>
                    <p class="card-text">Price: $218</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal11">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/images/samsungwired.png" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Samsung wired Headset</h5>
                    <p class="card-text">10mm Driver White </p>
                    <p class="card-text">Price: $128</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#modal12">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- Modals for View button -->
<div class="modal fade" id="modal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">Apple Airpods 2 Pro</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/air1.png" class="img-fluid" alt="Image 1">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>White</p>
                <h5>Driver Unit</h5>
                <p>12 mm</p>
                <h5>ANC and ENC</h5>
                <p>Yes</p>
                <h5>Battery Backup</h5>
                <p>Upto 30 Hours</p>
                <h5>Warranty</h5>
                <p>2 Years Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IP67 Water and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add similar modals for other watches (modal2, modal3, etc.) -->

<!-- Your existing HTML structure for the second set of watches -->

<!-- Modals for View button for the second set of watches -->


<div class="modal fade" id="modal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal2Label">Boat Rockers 260 Pro Neckband</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/boatneck.webp" class="img-fluid" alt="Image 2">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>Black and Red</p>
                <h5>Driver Unit</h5>
                <p>11 mm</p>
                <h5>ANC and ENC</h5>
                <p>Yes</p>
                <h5>Battery Backup</h5>
                <p>Upto 34 Hours</p>
                <h5>Warranty</h5>
                <p>2 Years Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IPx7 Water and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add similar modals for other watches in the second set (modal3, modal4, etc.) -->

<!-- Your existing HTML structure for the third set of watches -->

<!-- Modals for View button for the third set of watches -->


<div class="modal fade" id="modal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal3Label">Realme Neckband Wireless </h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/realmeneck.jpeg" class="img-fluid" alt="Image 3">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>Black and Yellow</p>
                <h5>Driver Unit</h5>
                <p>12 mm</p>
                <h5>ANC and ENC</h5>
                <p>Yes</p>
                <h5>Battery Backup</h5>
                <p>Upto 30 Hours</p>
                <h5>Warranty</h5>
                <p>2 Years Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IPx33 Water and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add similar modals for other watches in the third set (modal4, modal5, etc.) -->

<!-- Your existing HTML structure for the fourth set of watches -->

<!-- Modals for View button for the fourth set of watches -->


<div class="modal fade" id="modal4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Realme T100 TWS</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/realmetws.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>Black and Yellow</p>
                <h5>Driver Unit</h5>
                <p>12.4 mm</p>
                <h5>ANC and ENC</h5>
                <p>Yes</p>
                <h5>Battery Backup</h5>
                <p>Upto 30 Hours</p>
                <h5>Warranty</h5>
                <p>2 Years Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IPx33 Water and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Sony X100 Headphone</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/sony.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>Black and Blue</p>
                <h5>Driver Unit</h5>
                <p>40 mm</p>
                <h5>ANC and ENC</h5>
                <p>Yes</p>
                <h5>Battery Backup</h5>
                <p>Upto 32 Hours</p>
                <h5>Warranty</h5>
                <p>2 Years Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IPx27 Water and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">JBL J-222 Headphone</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/jbl.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>Black</p>
                <h5>Driver Unit</h5>
                <p>40 mm</p>
                <h5>ANC and ENC</h5>
                <p>Only ENC</p>
                <h5>Battery Backup</h5>
                <p>Upto 28 Hours</p>
                <h5>Warranty</h5>
                <p>2 Years Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IPx7 Water and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Zebronics zeb-3</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/zeb.webp" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>Black</p>
                <h5>Driver Unit</h5>
                <p>11 mm</p>
                <h5>ANC and ENC</h5>
                <p>Only ANC</p>
                <h5>Battery Backup</h5>
                <p>Upto 24 Hours</p>
                <h5>Warranty</h5>
                <p>2 Years Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IPx5 Water and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal8" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Vivo-1 Wired Headset</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/vivo.webp" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>White</p>
                <h5>Driver Unit</h5>
                <p>10 mm</p>
                <h5>ANC and ENC</h5>
                <p>Only ENC</p>
                <h5>Warranty</h5>
                <p>2 Years Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IPx3 Water and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modal9" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Boat Rockers 220 Wired</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/boat220.webp" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>Black</p>
                <h5>Driver Unit</h5>
                <p>10 mm</p>
                <h5>ANC and ENC</h5>
                <p>No</p>
                <h5>Warranty</h5>
                <p>1 Year Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IPx3 Splash and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal10" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Samsung Level Headset</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/samsung.webp" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>Black</p>
                <h5>Driver Unit</h5>
                <p>11 mm</p>
                <h5>ANC and ENC</h5>
                <p>Only ANC</p>
                <h5>Battery Backup</h5>
                <p>Upto 24 Hours</p>
                <h5>Warranty</h5>
                <p>2 Years Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IPx5 Water and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal11" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Noise TWS</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/noise.webp" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>Navy Blue</p>
                <h5>Driver Unit</h5>
                <p>10 mm</p>
                <h5>ANC and ENC</h5>
                <p>Only ENC</p>
                <h5>Battery Backup</h5>
                <p>Upto 30 Hours</p>
                <h5>Warranty</h5>
                <p>2 Years Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>IPx18 Water and Sweat Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal12" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Samsung Wired</h5>
            </div>
            <div class="modal-body">
                <img src="assets/images/samsungwired.png" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5>Color</h5>
                <p>White</p>
                <h5>Driver Unit</h5>
                <p>10 mm</p>
                <h5>ANC and ENC</h5>
                <p>No</p>
                <h5>Warranty</h5>
                <p>1 Year Manufacturer Warranty</p>
                <h5>Water Proof</h5>
                <p>No Water Resistance</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer class="d-flex justify-content-end">

    <div style="position: fixed;top: 48%;">
        <button>
            <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
              <path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path>
            </svg>
            <span routerLink="/electro/"  >Back</span>
          </button>
    </div>
  </footer>