<br><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="position: fixed;">
          <a class="nav-link active" aria-current="page" routerLink="/kids/" style="font-size: 24px;">Home</a>
          <a class="nav-link" routerLink="/kids/dress" style="font-size: 24px;">Dress</a>
          <a class="nav-link" routerLink="/kids/toys" style="font-size: 24px;">Toys</a>
          <a class="nav-link" routerLink="/kids/access" style="font-size: 24px;">Accessories</a>
        </div>
      </div>
    </div>
  </nav>
  <br><br>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t1.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Hot Wheels City Track Pack</h5>
                    <p class="card-text">Hot Wheels Track World set includes 10 track pieces needed to create and build a Hot Wheels city environment.  </p>
                    <p class="card-text">Price: $995</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal1">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t2.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Train Track Classic Train Classical Train Light</h5>
                    <p class="card-text">Sound Railway Battery Operated Train Toy Set</p>
                    <p class="card-text">Price: $470</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal2">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t3.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Transforming Deformation Action Figures</h5>
                    <p class="card-text">Transforming Deformation Toy Robot Mode to Truck Mode.</p>
                    <p class="card-text">Price: $1010</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal3">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Add similar card structures for other watches -->
    </div>
</div>


<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t4.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Webby Speed Cube - 3x3x3, Multi Color</h5>
                    <p class="card-text">Develops your child's concentration, patience, problem solving, logical and hands-on skills </p>
                    <p class="card-text">Price: $1999</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal4">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t5.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">JCB Excavator Truck Toy for Boys & Girls</h5>
                    <p class="card-text">Kiddie Castle Big Size Friction Construction JCB Excavator Truck Toy for Boys & Girls</p>
                    <p class="card-text">Price: $1599</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal6">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t6.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Storio JCB Dig & Dump Construction Toy,</h5>
                    <p class="card-text">No battery operated, educational block construction toy JCB Great Gift Best Robot Design</p>
                    <p class="card-text">Price: $699</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal5">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add similar card structures for other watches -->
    </div>
</div>


<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t7.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Marvel spider man 9.5-INCH SCALE ACTION FIGURE</h5>
                    <p class="card-text">favorite heroes and defending the world from evil</p>
                    <p class="card-text">Price: $777</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal7">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t8.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Webby Remote Controlled Super Car </h5>
                    <p class="card-text">battery for the car but need to get extra battery for the remote </p>
                    <p class="card-text">Price: $954</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal8">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t9.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Mechanic 0 DIY STEM Toy </h5>
                    <p class="card-text">ids game board game construction game build construction game Mechanic  </p>
                    <p class="card-text">Price: $898</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal9">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add similar card structures for other watches -->
    </div>
</div>



<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t10.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Barodian's Action Fighting Hero Play Set</h5>
                    <p class="card-text">High Quality Fighting Hero Big Size Fighting Hero Best Gift For Kids Barodian's Action Fighting Hero </p>
                    <p class="card-text">Price: $1499</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal10">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t11.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Einstein Box for 2-Year-Old Boys/Girls</h5>
                    <p class="card-text">Amazing Learning Toys For Boys/Girls 2 Years Featuring Their Favourite Disney </p>
                    <p class="card-text">Price: $625</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal11">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/img/t12.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Jurassic World Mask, Velociraptor Blue,</h5>
                    <p class="card-text">Intricate skin texture, color, and spooky teeth offer a realistic appearance </p>
                    <p class="card-text">Price: $1111</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal12">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












<!-- Modals for View button -->
<div class="modal fade" id="modal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">Hot Wheels City Track Pack</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/img/t1.jpg" class="img-fluid" alt="Image 1">
                <h3>Product details</h3>
                <h5>Cars</h5>
                
                <h5>colour</h5>
                <p>red</p>
                <h5>Warrenty type</h5>
                <p>no</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Add similar modals for other watches (modal2, modal3, etc.) -->

<!-- Your existing HTML structure for the second set of watches -->

<!-- Modals for View button for the second set of watches -->


<div class="modal fade" id="modal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal2Label">Train Track Classic Train Classical Train Light</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/img/t2.jpg" class="img-fluid" alt="Image 2">
                <h3>Product details</h3>
                <h5>Train</h5>
                <p>toys</p>
                <h5>colour</h5>
                <p>MultiColor</p>
                <h5>type</h5>
                <p>Plastic</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add similar modals for other watches in the second set (modal3, modal4, etc.) -->

<!-- Your existing HTML structure for the third set of watches -->

<!-- Modals for View button for the third set of watches -->


<div class="modal fade" id="modal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal3Label">Transforming Deformation Action Figures</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/img/t3.jpg" class="img-fluid" alt="Image 3">
                <h3>Product details</h3>
                <h5>Transforming</h5>
                <p>Toys</p>
                <h5>Band colour</h5>
                <p>white</p>
                <h5>type</h5>
                <p>Plastic</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add similar modals for other watches in the third set (modal4, modal5, etc.) -->

<!-- Your existing HTML structure for the fourth set of watches -->

<!-- Modals for View button for the fourth set of watches -->


<div class="modal fade" id="modal4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Webby Speed Cube - 3x3x3, Multi Color</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/img/t4.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                 
                <h5> colour</h5>
                <p>Multi Color</p>
                <h5>Warrenty type</h5>
                <p>Extended</p>
                <h5>No of pieces:</h5>
                <p>26</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">JCB Excavator Truck Toy for Boys & Girls</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/img/t5.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                
                <h5>colour</h5>
                <p>yellow</p>
                <h5>Warrenty type</h5>
                <p>Extended</p>
                <h5>model</h5>
                <p>Plastic</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="modal5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Storio JCB Dig & Dump Construction Toy,</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/img/t6.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                
                <h5>colour</h5>
                <p>green</p>
                <h5>Warrenty type</h5>
                <p>Extended</p>
                <h5>model</h5>
                <p>Plastic</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modal7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Marvel spider man 9.5-INCH SCALE ACTION FIGURE</h5>
            </div>
            <div class="modal-body">
                <img src="/assets/img/t7.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
               
                <h5>Band colour</h5>
                <p>red,blue</p>
                <h5>Warrenty type</h5>
                <p>2month</p>
                <h5>model</h5>
                <p>Plastic</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal8" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Webby Remote Controlled Super Car </h5>
                
            </div>
            <div class="modal-body">
                <img src="/assets/img/t8.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                
                <h5> colour</h5>
                <p>red</p>
                <h5>Warrenty</h5>
                <p>1month</p>
                <h5>model</h5>
                <p>Plastic</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal9" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Mechanic 0 DIY STEM Toy </h5>
                
            </div>
            <div class="modal-body">
                <img src="/assets/img/t9.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5> colour</h5>
                <p>MultiColor</p>
                <h5>Warrenty Type</h5>
                <p>1 month</p>
                <h5>model</h5>
                <p>Plastic</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal10" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Barodian's Action Fighting Hero Play Set</h5>
                
            </div>
            <div class="modal-body">
                <img src="/assets/img/t10.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
               <h5> colour</h5>
              <p>red,white</p>
              <h5> Warrenty Type</h5>
              <p>2 month</p>
              <h5>model</h5>
              <p>Plastic</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal11" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Einstein Box for 2-Year-Old Boys/Girls</h5>
                
            </div>
            <div class="modal-body">
                <img src="/assets/img/t11.jpg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5> colour</h5>
                <p>MultiColor</p>
                <h5>Warrenty</h5>
                <p>1month</p>
                <h5>model</h5>
                <p>Plastic</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal12" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal4Label">Jurassic World Mask, Velociraptor Blue</h5>
                
            </div>
            <div class="modal-body">
                <img src="/assets/img/t12.jpeg" class="img-fluid" alt="Image 4">
                <h3>Product details</h3>
                <h5> colour</h5>
                <p>MultiColor</p>
                <h5>Warrenty</h5>
                <p>2month</p>
                <h5>model</h5>
                <p>Plastic</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer class="d-flex justify-content-end">

    <div style="position: fixed;top: 48%;">
        <button>
            <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
              <path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path>
            </svg>
            <span routerLink="/kids/"  >Back</span>
          </button>
    </div>
  </footer>