<br><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="position: fixed;">
          <a class="nav-link active" aria-current="page" routerLink="/home" style="font-size: 24px;">Home</a>
          <a class="nav-link" routerLink="/mobiles/iphone" style="font-size: 24px;">iPhone</a>
          <a class="nav-link" routerLink="/mobiles/iqoo" style="font-size: 24px;">iqoo</a>
          <a class="nav-link" routerLink="/mobiles/oneplus" style="font-size: 24px;">OnePlus</a>
          <a class="nav-link" routerLink="/mobiles/vivo" style="font-size: 24px;">Pixel</a>
        </div>
      </div>
    </div>
  </nav><br><br>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/oneplus/oneplus11.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">OnePlus 11</h5>
                    <p class="card-text">Snapdragon Gen 2 / 6.7″ Amoled Display</p>
                    <p class="card-text">Price: $1995</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal1">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/oneplus/oneplus11r.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">OnePlus 11R</h5>
                    <p class="card-text">Snapdragon Gen 2 / 6.7″ Quad HD Display</p>
                    <p class="card-text">Price: $1478</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal2">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/oneplus/oneplus10pro.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">OnePlus 10 Pro</h5>
                    <p class="card-text">Snapdragon gen 1 / 6.7″ Amoled Display</p>
                    <p class="card-text">Price: $1010</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal3">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/oneplus/oneplus10r.webp" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">OnePlus 10R</h5>
                    <p class="card-text">MediaTek Dimensity 8100 / 6.7″ Quad HD</p>
                    <p class="card-text">Price: $1999</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal4">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/oneplus/oneplus9pro.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">OnePlus 9 Pro</h5>
                    <p class="card-text">Snapdragon 888 / 6.7″ Amoled Display</p>
                    <p class="card-text">Price: $1599</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal5">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/oneplus/OnePlus9.avif" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">OnePlus 9</h5>
                    <p class="card-text">Snapdragon 888 / 6.55″ Quad HD Display</p>
                    <p class="card-text">Price: $1699</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal6">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add similar card structures for other watches -->
    </div>
  </div>
  
  
  <div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/oneplus/oneplusnord3.webp" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">OnePlus Nord 3</h5>
                    <p class="card-text">MediaTek Dimensity 9000 / 6.74″ Amoled Display</p>
                    <p class="card-text">Price: $2777</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal7">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="/assets/oneplus/oneplus11pro.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">OnePlus 11 Pro</h5>
                    <p class="card-text">Snapdragon Gen 1 / 6.5″ Quad HD Display</p>
                    <p class="card-text">Price: $1925</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal8">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-md-3 ms-5">
            <div class="card mb-4 shadow-sm">
                <img src="assets/oneplus/oneplus12.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">OnePlus 12</h5>
                    <p class="card-text">Snapdragon Gen 2 / 6.7″ Amoled Display</p>
                    <p class="card-text">Price: $3898</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal9">View</button>
                            <button type="button" class="btn btn-sm btn-outline-success" onclick="go()">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 ms-5">
          <div class="card mb-4 shadow-sm">
              <img src="/assets/oneplus/oneplus12r.jpg" class="bd-placeholder-img card-img-top" alt="Image 1">
              <div class="card-body">
                  <h5 class="card-title">OnePlus 12R</h5>
                  <p class="card-text">Snapdragon Gen 2 / 6.7″ Quad HD Display</p>
                  <p class="card-text">Price: $1478</p>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal10">View</button>
                          <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 ms-5">
        <div class="card mb-4 shadow-sm">
            <img src="/assets/oneplus/oneplus12pro.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
            <div class="card-body">
                <h5 class="card-title">OnePlus 12 Pro</h5>
                <p class="card-text">MediaTek Dimensity 9100 / 6.7″ Amoled Display</p>
                <p class="card-text">Price: $1178</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal11">View</button>
                        <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 ms-5">
      <div class="card mb-4 shadow-sm">
          <img src="/assets/oneplus/oneplus13.jpeg" class="bd-placeholder-img card-img-top" alt="Image 1">
          <div class="card-body">
              <h5 class="card-title">OnePlus 13</h5>
              <p class="card-text">Snapdragon Gen 3 / 6.7″ OLED Quad HD Display</p>
              <p class="card-text">Price: $1778</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal12">View</button>
                      <button type="button" class="btn btn-sm btn-outline-success" (click)="go()">Buy</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
        <!-- Add similar card structures for other watches -->
    </div>
  </div>
  
  
  
  <!-- Modals for View button -->
  <div class="modal fade" id="modal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal1Label">OnePlus 11 (Green, 16 GB RAM) (256 GB ROM)</h5>
            </div>
            <div class="modal-body">
                <img src="assets/oneplus/oneplus11.jpeg" class="img-fluid" alt="Image 1">
                <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>16 GB RAM | 256 GB ROM</p>
                <h5>Processor</h5>
                <p>Octa Core | 3.2 GHz</p>
                <h5>Display</h5>
                <p>6.71 inch</p>
                <h5>Battery</h5>
                <p>5000 mAh</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="modal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal2Label">OnePlus 11R 5G (silver, 128GB) (8 GB RAM)</h5>
            </div>
            <div class="modal-body">
                <img src="assets/oneplus/oneplus11r.jpeg" class="img-fluid" alt="Image 2">
                <h3>Product details</h3>
                <h5>RAM|ROM</h5>
                <p>8 GB RAM | 128 GB ROM</p>
                <h5>Processor</h5>
                <p>Octa Core | 3.2MHz</p>
                <h5>Display</h5>
                <p>6.7 inch</p>
                <h5>Battery</h5>
                <p>5000 mAh</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="modal3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal2Label">OnePlus 10 Pro 5G (Emerald, 128 GB) (8 GB RAM)</h5>
              </div>
              <div class="modal-body">
                  <img src="assets/oneplus/oneplus10pro.jpeg" class="img-fluid" alt="Image 2">
                  <h3>Product details</h3>
                  <h5>RAM|ROM</h5>
                  <p>8 GB RAM | 128 GB ROM</p>
                  <h5>Processor</h5>
                  <p>Dual Core | 2.4 GHz</p>
                  <h5>Display</h5>
                  <p>6.7 inch</p>
                  <h5>Battery</h5>
                  <p>5000 mAh</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  
    <div class="modal fade" id="modal4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal2Label">OnePlus 10R (Black, 128 GB) (8 GB RAM)</h5>
              </div>
              <div class="modal-body">
                  <img src="assets/oneplus/oneplus10r.webp" class="img-fluid" alt="Image 2">
                  <h3>Product details</h3>
                  <h5>RAM|ROM</h5>
                  <p>8 GB RAM | 128 GB ROM</p>
                  <h5>Processor</h5>
                  <p>Octa Core | 2.2 GHz</p>
                  <h5>Display</h5>
                  <p>6.7 inch</p>
                  <h5>Battery</h5>
                  <p>5000 mAh</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  
    <div class="modal fade" id="modal5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal2Label">OnePlus 9 Pro (Green, 128 GB) (8 GB RAM)</h5>
              </div>
              <div class="modal-body">
                  <img src="assets/oneplus/oneplus9pro.jpeg" class="img-fluid" alt="Image 2">
                  <h3>Product details</h3>
                  <h5>RAM|ROM</h5>
                  <p>8 GB RAM | 128 GB ROM</p>
                  <h5>Processor</h5>
                  <p>Dual Core | 2.4 GHz</p>
                  <h5>Display</h5>
                  <p>6.7 inch</p>
                  <h5>Battery</h5>
                  <p>4500 mAh</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  
  
    <div class="modal fade" id="modal6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal2Label">OnePlus 9 5G (Mist, 256 GB) (12 GB RAM)</h5>
              </div>
              <div class="modal-body">
                  <img src="assets/oneplus/OnePlus9.avif" class="img-fluid" alt="Image 2">
                  <h3>Product details</h3>
                  <h5>RAM|ROM</h5>
                  <p>12 GB RAM | 256 GB ROM</p>
                  <h5>Processor</h5>
                  <p>Dual Core | 2.4 GHz</p>
                  <h5>Display</h5>
                  <p>6.55 inch</p>
                  <h5>Battery</h5>
                  <p>4500 mAh</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  
    <div class="modal fade" id="modal7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal2Label">OnePlus Nord 3 5G (Gray, 128 GB) (8 GB RAM)</h5>
              </div>
              <div class="modal-body">
                  <img src="assets/oneplus/oneplusnord3.webp" class="img-fluid" alt="Image 2">
                  <h3>Product details</h3>
                  <h5>RAM|ROM</h5>
                  <p>8 GB RAM | 128 GB ROM</p>
                  <h5>Processor</h5>
                  <p>Octa Core | 3.05 GHz</p>
                  <h5>Display</h5>
                  <p>6.74 inch</p>
                  <h5>Battery</h5>
                  <p>5000 mAh</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  
    <div class="modal fade" id="modal8" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal2Label">OnePlus 11 Pro (Purple, 128 GB) (8 GB RAM)</h5>
              </div>
              <div class="modal-body">
                  <img src="assets/oneplus/oneplus11pro.jpeg" class="img-fluid" alt="Image 2">
                  <h3>Product details</h3>
                  <h5>RAM|ROM</h5>
                  <p>8 GB RAM | 128 GB ROM</p>
                  <h5>Processor</h5>
                  <p>Octa Core | 3.2 GHz</p>
                  <h5>Display</h5>
                  <p>6.5 inch</p>
                  <h5>Battery</h5>
                  <p>4700 mAh</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  
  
    <div class="modal fade" id="modal9" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal2Label">OnePlus 12 5G (Black, 128 GB) (8 GB RAM)</h5>
              </div>
              <div class="modal-body">
                  <img src="assets/oneplus/oneplus12.jpeg" class="img-fluid" alt="Image 2">
                  <h3>Product details</h3>
                  <h5>RAM|ROM</h5>
                  <p>8 GB RAM | 128 GB ROM</p>
                  <h5>Processor</h5>
                  <p>Dual Core | 3.2 GHz</p>
                  <h5>Display</h5>
                  <p>6.7 inch</p>
                  <h5>Battery</h5>
                  <p>5000 mAh</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  
  
    <div class="modal fade" id="modal10" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal2Label">OnePlus 12R 5G (Black, 128 GB) (8 GB RAM)</h5>
              </div>
              <div class="modal-body">
                  <img src="assets/oneplus/oneplus12r.jpg" class="img-fluid" alt="Image 2">
                  <h3>Product details</h3>
                  <h5>RAM|ROM</h5>
                  <p>8 GB RAM | 128 GB ROM</p>
                  <h5>Processor</h5>
                  <p>Octa Core | 3.2 GHz</p>
                  <h5>Display</h5>
                  <p>6.7 inch</p>
                  <h5>Battery</h5>
                  <p>5000 mAh</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  
  
    <div class="modal fade" id="modal11" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal2Label">OnePlus 12 Pro 5G (Silver, 128 GB) (8 GB RAM)</h5>
              </div>
              <div class="modal-body">
                  <img src="assets/oneplus/oneplus12pro.jpeg" class="img-fluid" alt="Image 2">
                  <h3>Product details</h3>
                  <h5>RAM|ROM</h5>
                  <p>8 GB RAM | 128 GB ROM</p>
                  <h5>Processor</h5>
                  <p>Dual Core | 2.7MHz</p>
                  <h5>Display</h5>
                  <p>6.7 inch</p>
                  <h5>Battery</h5>
                  <p>5000 mAh</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  
  
    <div class="modal fade" id="modal12" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal2Label">OnePlus 13 5G (Red, 512 GB) (16 GB RAM)</h5>
              </div>
              <div class="modal-body">
                  <img src="assets/oneplus/oneplus13.jpeg" class="img-fluid" alt="Image 2">
                  <h3>Product details</h3>
                  <h5>RAM|ROM</h5>
                  <p>16 GB RAM | 512 GB ROM</p>
                  <h5>Processor</h5>
                  <p>Octa Core | 3.2 GHz</p>
                  <h5>Display</h5>
                  <p>6.7 inch</p>
                  <h5>Battery</h5>
                  <p>5000 mAh</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
    </div>
  
    <footer class="d-flex justify-content-end">

        <div style="position: fixed;top: 48%;">
            <button>
                <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
                  <path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path>
                </svg>
                <span [routerLink]="['/mobiles/']">Back</span>
              </button>
        </div>
        
      </footer>